extends template/_default.pug
include template/_mixins.pug

block append css
block append hjs
  +js('main.js')
block contents
  nav.colorBg
    canvas#asideBG.colorBg.colorLight
    #navContainer
      section#logo.color
        include svg/logo.svg
        include svg/blank.svg
      section#title
        h1= title
        h2= subtitle
      section#social
        each so in social
          a(class=so.link_class, href=so.link)
            i.fa(class=so.icon_class)
      section#description
        each line in description
          p= line
      footer
        a.colorHover#resume(href="assets/data/resume.pdf") Resume
        p#copyright= copyright
    #corner.color.cornerShow
      include svg/corner.svg
  main.colorScroll
    #mainContainer
      each project in projects
        section.project
          header
            span.projectTitle.color= project.title
            span.projectDesc= project.description
          .showcase.colorLight
            .projectYear= project.year
            .imageFrame
              a(href=project.link)
                .imageWrapper
                  img(src=`assets/images/${project.img}.png`,
                      alt=project.title,
                      srcset=`assets/images/${project.img}@2.png 2x`)
              include svg/frame.svg
